.wrapper {
    max-width: 70rem;
    margin: 2rem auto;
    padding: 0 1rem;

    display: grid;
    grid-template-columns: 256px 1fr;
    gap: 2rem;
    align-items: flex-start;
}

@media (max-width: 770px) {
    html {
        font-size: 87.5%;
        /* aumentar em porcentagem para preservar o ajuste de tamanho de fonte no dispositivo do usuário */
    }

    .wrapper {
        grid-template-columns: 1fr;
    }
}